* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: #15158f;
  height: 29vh; }
  header li {
    list-style: none;
    text-align: center; }

.main-index {
  background-color: grey;
  text-align: center;
  min-height: 50vh; }
  .main-index .card {
    max-width: 320px;
    margin: 0 auto; }
    .main-index .card h2 {
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      font-size: 150%; }
      .main-index .card h2:hover {
        color: blue;
        background-color: red; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, red, grey);
  height: 20vh;
  padding: 10px;
  align-items: center;
  border-radius: 6px;
  margin: auto; }
  footer a {
    border: 3px solid #0c8eff;
    padding: 6px;
    list-style: none;
    color: #040403;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif; }
    footer a:hover {
      background-color: #543bc5;
      transition: 0.5s; }
    footer a::a {
      color: #f3ff05; }
