footer{
    form{
        input{
            padding: 9px;
            &:focus{
                background-color: blue;
            }
            &::placeholder{
                color: black;
            }
        }
    }
}