header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(to left, rgb(60, 60, 171), rgb(173, 49, 49));
    height: 29vh;
    width: 100%;
    align-items: center;
    li{
        list-style: none;
        text-align: center;
    }
    img{
        height: 132px;
        margin: auto 86px;
        padding: 10px;
    }
}
